/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*common style or utilities*/

body{
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
}
main{
    display: flex;
    justify-content: center;
}

.container{
    background-color: white;
    width: 870px;
    padding: 30px  ;
}

.secion-tittle{
    color: #562EFF;
    font-size: 24px;
}

/*top players*/
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.player {
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
}